
body {
    font-family: 'Nunito', sans-serif;
}

.english-title {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1;
    font-size: 10.2vw;
    opacity: 1;
    color: #f1f2f1;
    transform: translate(0px, 0px);
    z-index: -1;
}

.list-group-item-action {
    text-decoration: none;
    font-size: calc(0.5em + 1.2vw);
}